<%= div_for comment do %> <!-- this is going to be updated dynamically-->
		<p>
			<strong>Posted <%= time_ago_in_words(comment.created_at)%></strong><br />
			<%= h(comment.body) %>
		</p>
<% end %>